[submodule "extern/CLI11"]
	path = extern/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "extern/rang"]
	path = extern/rang
	url = https://github.com/agauniyal/rang.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/curlpp"]
	path = extern/curlpp
	url = https://github.com/jpbarrette/curlpp.git
